.small-logo {
    height: 10rem;
    width: 10rem;
    object-fit: contain;
}

h1 {
    background-image: linear-gradient(to right, #e8772e, #e98543);
}

nav {
    background-color: inherit;
}

footer {
    border-top: 1px dashed var(--color-gray-20)
} 

.small-logo {
    height: 6.2rem;
    width: 10rem;
    object-fit: contain;
}

.footeritem {
    padding: 0rem 1rem;
}

nav {
    width: 100%;
}

:root, [data-bs-theme="light"] {
    --bs-primary-bg-subtle: #e8772e;
    --bs-primary-text-emphasis: var(--bs-heading-color);
}

iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 990px) {
    iframe {
        width: 100%;
    }
}