---
layout: layouts/base.njk
eleventyNavigation:
  key: Projects
  order: 4
---
<link rel="stylesheet" href="/css/projects.css">
<section id="projects">
    <h1 >Projects I have worked on</h2>
    <div class="card-row row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 gx-4 justify-content-start">
        <div class="col column">
            <div class="card project">
                <div class="card-body">
                    <h5 class="card-title">Games Arena</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Web application to connect players for games</h6>
                    <p class="card-text">Built with python and django on the backend and JavaScript on the frontend, this is an unfinished project seeking to make a server to connect players to play games.</p>
                    <a href="https://github.com/TheHorusHawk/Games-Arena" class="card-link">Github project</a>
                </div>
            </div>
        </div>
        <div class="col column">
            <div class="card project">
                <div class="card-body">
                    <h5 class="card-title">Parapente 700</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Website for a folk band</h6>
                    <p class="card-text">Website built with Bootstrap and vanilla HTML+CSS and JavaScript.</p>
                    <a href="https://parapente700.netlify.app" class="card-link">Visit website</a>
                </div>
            </div>
        </div>
        <div class="col column">
            <div class="card project">
                <div class="card-body">
                    <h5 class="card-title">Pranayama Clock</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Small python application</h6>
                    <p class="card-text">Python programme to support breathwork (pranayama). Plays a gong sound when it's time to change flow of breath.</p>
                    <a href="https://github.com/TheHorusHawk/pranayama-clock" class="card-link">Github project</a>
                </div>
            </div>
        </div>
        <div class="col column">
            <div class="card project">
                <div class="card-body">
                    <h5 class="card-title">Counter</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Python programme to count visitors to a space</h6>
                    <p class="card-text">Python program to count visitors. Creates csv file with one line per spacebar click, with timestamp.</p>
                    <a href="https://github.com/TheHorusHawk/counter" class="card-link">Github project</a>
                </div>
            </div>
        </div>
        <div class="col column">
            <div class="card project">
                <div class="card-body ">
                    <h5 class="card-title">Creative Website</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Creative work website generated with Pelican.</h6>
                    <p class="card-text">Static website with reviews and links to creative work. Generated with
                        Pelican, a static website generator.</p>
                    <a href="https://thehorushawk.github.io/creative" class="card-link">Visit website</a>
                </div>
            </div>
        </div>
        <div class="col column">
            <div class="card col project">
                <div class="card-body ">
                    <h5 class="card-title">Pelican/Jinja2 Theme</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Theme for my creative work website.</h6>
                    <p class="card-text">Theme for website, written in jinja2, a fork of the theme notmyidea.</p>
                    <a href="https://github.com/TheHorusHawk/Website-theme" class="card-link">Github project</a>
                </div>
            </div>
        </div>
        <div class="col column">
            <div class="card col project">
                <div class="card-body">
                    <h5 class="card-title">Portfolio Website</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">11ty website</h6>
                    <p class="card-text">Dev blog and portfolio website generated with 11ty, a JavaScript-based static website generator and Bootstrap.</p>
                    <a href="#" class="card-link">This website</a>
                </div>
            </div>
        </div>
    </div>
</section>