---
layout: layouts/home.njk
eleventyNavigation:
  key: Buddhism
  order: 5
---
<div class="mb-5 ">
    <h1>Crash course on Buddhism</h1>
    <h3>All you need to know - The Four Noble Truths</h3>
    <p>(According to someone, me,  who doesn't know anything)</p>
</div>

<div class="">
    <div class="accordion" id="accordionNobleTruths" data-bs-theme="light">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    The first noble truth
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionNobleTruths">
                <div class="accordion-body">
                    Everything is suffering.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    The second noble truth
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionNobleTruths">
                <div class="accordion-body">
                    The cause of suffering is desire.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    The third noble truth
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionNobleTruths">
                <div class="accordion-body">
                    People can be free from suffering when they stop desiring.
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        The fourth noble truth
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionNobleTruths">
                    <div class="accordion-body">
                        The cause of desire is ignorance.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>